[profile.default]
src = "src"
out = "out"
libs = ["lib"]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

[lint]
exclude_lints=["unwrapped-modifier-logic" , "mixed-case-function", "mixed-case-variable" , "pascal-case-struct"]